/* CSS du pop-up */
@keyframes popOutAnimation
{
    0% 
    {
        opacity: 1;
        transform: scale(1);
    }
    100% 
    {
        opacity: 0;
        transform: scale(0.4);
    }
}
@keyframes popInAnimation 
{
    0% 
    {
        opacity: 0.0001;
        transform: scale(0.4);
    }
    100% 
    {
        opacity: 1;
        transform: scale(1);
    }
}

.popout
{
    animation: popOutAnimation 0.3s ease-in-out forwards;
}
.popin
{
    opacity: 0.0001;
    animation: popInAnimation 0.3s ease-in-out forwards;
    animation-delay: 4s;
}

#Popup
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* Positionnement du pop-up */
    position: fixed;
    bottom: 30px;
    right: 30px; 
    width: 350px;

    background-color: #333;
    color: #fff;

    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#PopupTitle
{
    color: rgb(254, 179, 49);

    margin-top:5px;
    margin-bottom:5px;
}
#PopupTitle::selection
{
    background-color: black;
}
#PopupCloseBtn
{
    color: rgb(254, 179, 49);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
#PopupCloseBtn::selection
{
    background: black;
}

#Popup>div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#PopupText 
{
    display: block;
}

#PopupCloseBtn :hover, #PopupCloseBtn :focus 
{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

/* Section d'Introduction */
#Introduction
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: row;
    column-gap: 10px;

    min-height: 80vh;
    margin-top: 0;
    margin-bottom: 10vh;
}
#Introduction>:first-child
{
    width:clamp(50%, 60%, 80%);

    opacity: 0.001;
    animation: slideFromLeft 1s ease forwards;
    animation-delay: 1s;
}
#Introduction>:last-child
{
    width:clamp(200px, 20%, 100%);
}

#Introduction h1
{
    margin-left: 20px;
    font-size: clamp(30px, 5vw, 55px);
}
#Introduction p
{
    margin-left: 20px;
    font-size: clamp(20px, 4vw, 40px);
}
#Introduction a
{
    opacity: 0.001;
    animation: slideFromRight 1s ease forwards;
    animation-delay: 1s;
}
#Introduction img
{
    width:100%;
    border-radius: 100%;
}

#IntroductionButtons
{
    display: flex;
    justify-content: left;
    column-gap: 20px;

    margin-left: 20px;
}
#IntroductionButtons button
{
    font-size: 16px;
    
    width:125px;
    height:35px;
}
#IntroductionHr
{
    opacity: 0.001;
    animation-name: slideFromBottom;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

#Name
{
    color:rgb(254, 179, 49);

    opacity: 0.001;
    animation-name: fadeInScale;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
#Name::selection
{
    background: black;
}

/* Section des news */
#News
{
    opacity: 0.001;
    animation-name: slideFromBottom;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
#News>ul
{
    list-style: none;
    text-decoration: none;
    padding: 0;
}

footer
{
    animation-delay: 3s;
}

/* Lorsque l'écran est petit */
@media screen and (max-width: 960px)
{
    #Introduction
    {
        flex-direction: column;
        align-items: center;
    }
    #Introduction>:first-child
    {
        width:100%;
        height:60%;
    }
    #Introduction h1, #Introduction p
    {
        margin-left: 0;
        text-align: center;
    }
    #IntroductionDescription
    {
        margin-top: 10vh;
    }
    #Introduction>:last-child
    {
        height:40%;
        width:clamp(200px, 30%, 100%);
    }

    #IntroductionButtons
    {
        display:flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;
    }
}

@media only screen and (device-width < 600px)
{
    @keyframes popInAnimation 
    {
        0% 
        {
            opacity: 0.0001;
            transform: scale(0.4);
        }
        100% 
        {
            opacity: 1;
            transform: scale(1);
            transform: translateX(-50%);
        }
    }

    #Popup
    {
        width:300px;
        left: 50%;
        transform: translateX(-50%);
    }
}