main
{
    height:70vh;
    margin-top: 10vh;

    margin-left: 10vw;

    opacity: 0.001;
    animation: slideFromLeft 1s ease forwards;
    animation-delay: 1s;
}
footer
{
    animation-delay: 1s;
}

/* Lorsque l'écran est petit */
@media only screen and (max-width: 960px)
{
    main
    {
        margin-left: 0;
        text-align: center;

        opacity: 0.001;
        animation: slideFromBottom 1s ease forwards;
        animation-delay: 1s;
    }
}